body{
    background-image: linear-gradient(to right,rgb(249, 104, 104),rgb(189, 188, 188),rgb(245, 119, 119));
    
}


.one{
    display: inline-flex;
    position: fixed;
    top: 150px;
   
}
.box1{
    position: relative;
    cursor: pointer;

}
.box2{
    position: relative;
    left: 200px;
    cursor: pointer;

}
.box3{
    position: relative;
    left: 330px;
    cursor: pointer;
}
h1{
color: rgb(3, 3, 3);
cursor: pointer;
}
h1:hover{
    text-shadow: 2px 2px rgb(251, 3, 3);
}
p{
    position: relative;
    left:30px;
    font-size: 20px;
    font-weight: 200px;
    cursor: pointer;
}
h2{
    position: relative;
    bottom: 140px;
    left: 570px;
    text-transform: capitalize;
    font-size: 50px;
    cursor: pointer;
}
h2:hover{
    color: darkblue;
}
a{
    position: relative;
    top: 300px;
    right: 250px;
    text-decoration: none;
}